/*#region Modern CSS Reset*/
/*
 * Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
 */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests
  * default styling will be removed
  */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*#endregion*/
/*#region Attribution*/
.attribution {
  font-size: 0.6875rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/*#endregion*/
:root {
  --border-radius-default: 0.5rem;
  --color-neutral-blue-200: #848ead;
  --color-neutral-blue-600: #293356;
  --color-neutral-pale-blue-100: #ecf0fb;
  --color-neutral-pale-blue-200: #cfd8ef;
  --color-neutral-pale-blue-50: #f1f5fe;
  --color-neutral-white: #ffffff;
  --color-primary-cyan-200: #a4f3eb;
  --color-primary-cyan-300: #7aeadf;
  --color-primary-cyan-600: #10d8c4;
  --color-primary-cyan-700: #24aea1;
  --color-primary-light-red-100: #feede8;
  --color-primary-light-red-300: #ff8d68;
  --color-primary-pale-blue: #becdff;
  --font-family: "Manrope", sans-serif;
  --font-size-text: 0.9375rem;
  --font-weight-extra-bold: 800;
  --font-weight-semi-bold: 600;
}

body {
  background-color: #f9faff;
  color: var(--color-neutral-blue-200);
  font-family: var(--font-family);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-semi-bold);
}

/* Reset button styles */
.button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}
@media screen and (-ms-high-contrast: active) {
  .button {
    border: 2px solid currentColor;
  }
}

/* Set custom styles */
.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: start;
  background-color: var(--color-neutral-blue-600);
  border-radius: 1.28rem;
  color: var(--color-primary-pale-blue);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 0.75rem;
  font-weight: var(--font-weight-extra-bold);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.1;
  min-height: 2.56rem;
  min-width: 10.63rem;
  padding: 0.75em 0.25em;
  text-align: center;
  -webkit-transition: 220ms all ease-in-out;
  transition: 220ms all ease-in-out;
}
.button:hover, .button.active {
  color: var(--color-neutral-white);
}
.button:focus {
  outline-style: solid;
  outline-color: transparent;
  -webkit-box-shadow: 0 0 0 4px #6375b5;
          box-shadow: 0 0 0 4px #6375b5;
}
.button .flex-center {
  -ms-flex-item-align: center;
      align-self: center;
}

/* Format the switch element */
input[type=checkbox] {
  --active: var(--color-neutral-pale-blue-200);
  --background-default: var(--color-neutral-pale-blue-200);
  --active-inner: #fff;
  --border-hover: var(--color-primary-cyan-300);
  --border-default: var(--color-neutral-pale-blue-200);
  --disabled: #f6f8ff;
  --disabled-inner: #e1e6f9;
  --focus: 2px rgba(132, 142, 173, 0.7);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--background-active, var(--background-default));
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 1.38rem;
  margin: 0;
  outline: none;
  position: relative;
  -webkit-transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
  transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
  vertical-align: top;
}
input[type=checkbox]:after {
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
}
input[type=checkbox]:checked {
  --background-active: var(--active);
  --border-color: var(--active);
  --d-t: 0.6s;
  --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  --d-o: 0.3s;
}
input[type=checkbox]:disabled {
  --background-active: var(--disabled);
  cursor: not-allowed;
  opacity: 0.9;
}
input[type=checkbox]:disabled:checked {
  --background-active: var(--disabled-inner);
  --border-color: var(--border-default);
}
input[type=checkbox]:disabled + label {
  cursor: not-allowed;
}
input[type=checkbox]:hover:not(:checked):not(:disabled) {
  --background-active: var(--color-primary-cyan-300);
}
input[type=checkbox]:focus {
  -webkit-box-shadow: 0 0 0 var(--focus);
          box-shadow: 0 0 0 var(--focus);
}
input[type=checkbox].switch {
  border-radius: 0.94rem;
  width: 2.69rem;
  margin: 0 0.75rem;
}
input[type=checkbox].switch:after {
  background: var(--active-background, var(--active-inner));
  border-radius: 50%;
  height: 0.88rem;
  left: 0.25rem;
  top: 0.25rem;
  -webkit-transform: translateX(var(--translate-x, 0));
          transform: translateX(var(--translate-x, 0));
  width: 0.88rem;
}
input[type=checkbox].switch:checked {
  --active-background: var(--active-inner);
  --translate-x: 1.25rem;
}
input[type=checkbox].switch:disabled:not(:checked):after {
  opacity: 0.6;
}

/* Format the range slider element */
input[type=range] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: var(--color-neutral-pale-blue-100);
  border-radius: 0.3125rem;
  height: 0.5rem;
  margin: 0;
  outline: none;
  padding: 0;
  width: 100%;
}
input[type=range]:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(132, 142, 173, 0.7);
          box-shadow: 0 0 0 2px rgba(132, 142, 173, 0.7);
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-primary-cyan-600);
  background-image: url(../images/icon-slider.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0 0.9375rem 1.875rem 0 rgba(0, 255, 231, 0.6);
          box-shadow: 0 0.9375rem 1.875rem 0 rgba(0, 255, 231, 0.6);
  cursor: pointer;
  height: 2.5rem;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
  width: 2.5rem;
}
input[type=range]::-webkit-slider-thumb:hover {
  background-color: var(--color-primary-cyan-700);
}
input[type=range]::-moz-range-thumb {
  background-color: var(--color-primary-cyan-600);
  background-image: url(../images/icon-slider.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0.9375rem 1.875rem 0 rgba(0, 255, 231, 0.6);
  cursor: pointer;
  height: 2.5rem;
  -moz-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
  width: 2.5rem;
}
input[type=range]::-moz-range-thumb:hover {
  background-color: var(--color-primary-cyan-700);
}
input[type=range]::-moz-range-progress {
  background-color: var(--color-primary-cyan-200);
  border-radius: 0.3125rem;
  height: 0.5rem;
}

.page {
  background-image: url(../images/pattern-circles.svg), url(../images/bg-pattern.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center top 3.5625rem, 0 0;
}

.page__title {
  color: var(--color-neutral-blue-600);
  font-size: 1.25rem;
  font-weight: var(--font-weight-extra-bold);
  padding-top: 5.5625rem;
  text-align: center;
}

.page__lead {
  font-weight: var(--font-weight-semi-bold);
  line-height: 1.4375rem;
  margin: 0 auto;
  padding-top: 0.5rem;
  text-align: center;
  width: 21ch;
}

.pricing-component {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--color-neutral-white);
  border-radius: var(--border-radius-default);
  -webkit-box-shadow: 0 1.25rem 1.875rem -0.3125rem rgba(127, 137, 184, 0.15);
          box-shadow: 0 1.25rem 1.875rem -0.3125rem rgba(127, 137, 184, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 4rem;
}

.pageviews-heading {
  font-size: 0.75rem;
  font-weight: var(--font-weight-extra-bold);
  letter-spacing: 0.11rem;
  margin-top: 2.125rem;
  text-align: center;
  text-transform: uppercase;
}

.range-slider,
.price-display {
  margin-top: 2.5rem;
}

.range-slider {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}

.price-display {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price {
  color: var(--color-neutral-blue-600);
  font-size: 2rem;
  font-weight: var(--font-weight-extra-bold);
  letter-spacing: -0.05rem;
  text-align: right;
}

.pricing-period {
  font-size: 0.875rem;
  padding-left: 0.625rem;
}

.billing-period {
  margin-top: 2.25rem;
}

.billing-switch {
  font-size: 0.75rem;
}

.discount {
  background-color: var(--color-primary-light-red-100);
  border-radius: 0.59375rem;
  color: var(--color-primary-light-red-300);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 0.625rem;
  font-weight: var(--font-weight-extra-bold);
  padding: 0.19rem 0.44rem;
}

.benefits {
  border-top: 1px solid #ecf0fb;
  margin-top: 1.5rem;
  padding-bottom: 2rem;
  padding-top: 1.5rem;
  text-align: center;
  width: 100%;
}
.benefits ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.benefits li {
  font-size: 0.75rem;
  padding-top: 0.63rem;
}
.benefits li::before {
  content: url(../images/icon-check.svg);
  padding-right: 1rem;
}

.call-to-action {
  margin-top: 2rem;
}

/* 576px */
@media screen and (min-width: 36em) {
  .page {
    background-position: center top 4.1875rem, 0 0;
  }

  .page__title {
    font-size: 1.75rem;
    padding-top: 6.5rem;
  }

  .page__lead {
    width: 100%;
  }

  .pricing-component {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: grid;
    grid-template-areas: "pageview cost" "slider slider" "billperiod billperiod" "benefits benefits";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.6875rem;
    max-width: 33.75rem;
    padding-top: 2.5rem;
  }

  .pageviews-heading {
    font-size: 0.875rem;
    grid-area: pageview;
    justify-self: start;
    letter-spacing: 0.125rem;
    margin: 0;
    padding-left: 3rem;
  }

  .price-display {
    grid-area: cost;
    justify-self: end;
    margin: 0;
    padding-right: 3rem;
  }

  .price {
    font-size: 2.5rem;
    letter-spacing: -0.0625rem;
  }

  .pricing-period {
    font-size: 1rem;
    padding-left: 0.5rem;
    text-align: center;
  }

  .range-slider {
    grid-area: slider;
    justify-self: center;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .billing-period {
    grid-area: billperiod;
    justify-self: center;
  }
  .billing-period [data-alt-text] > span {
    display: none;
  }
  .billing-period [data-alt-text]::before {
    content: attr(data-alt-text);
  }

  .benefits {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: grid;
    grid-area: benefits;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2.5rem;
    padding-top: 2rem;
  }
  .benefits ul {
    padding-left: 3rem;
    text-align: left;
  }
  .benefits .call-to-action {
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: center;
    margin: 0;
    text-align: initial;
  }
}
/*# sourceMappingURL=style.css.map */